<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layout/admin/base :: layout(~{::title},~{::body/content()})}">
<head>
    <meta charset="UTF-8">
    <title>SLStudio Mini 管理画面</title>
</head>
<body>
    <h1>コース一覧</h1>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">コース名</th>
                            <th scope="col">コース説明</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="course : ${courses}">
                            <th scope="row" th:text="${course.id}"></th>
                            <td th:text="${course.name}"></td>
                            <td th:text="${course.description}"></td>
                            <td>
                                <a th:href="@{/admin/courses/edit/{id}(id=${course.id})}">編集</a>
                                <a th:href="@{/admin/courses/delete/{id}(id=${course.id})}">削除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a th:href="@{/admin/courses/add}">新規コース作成</a>
</body>
</html>